@using MZrepo
@model List<MZrepo.Kategori>
@{ 
    ViewBag.Titel = "Index";
}
@*Admin kategori index*@
<h2>Rediger kategorier</h2>
<a  href="/Admin/AKategori/Add/">Opret ny kategori</a>
<br/>
<ul>
    @foreach (Kategori kat in Model)
    {
        <li>
            @kat.Navn <a href="/Admin/AKategori/Edit/@kat.ID">Rediger</a>
            <a href="/Admin/AKategori/Delete/@kat.ID" onclick="javascript: return confirm('Er du sikker på at du vil slette @kat.Navn ?');">Slet</a>
    </li>
    }
</ul>